<html>
<head>
    <title>Sell Your Car</title>
</head>
<body>
    <h1>Sell Us Your Car</h1>
    <form action='/added_car' method='post'>
        <div class='form-group'>
            <label for='make-model'>Enter Make and Model of Car</label>
            <input id='make-model' name='make-model' class='form-control' type='text'>
        </div>
        <div class='form-group'>
            <label for='price'>Enter Requested Price</label>
            <input id='price' name='price' class='form-control' type='number'>
        </div>
        <div class='form-group'>
            <label for='mileage'>Enter Mileage</label>
            <input id='mileage' name='mileage' class='form-control' type='number'>
        </div>
        <div class='form-group'>
            <label for='condition'>Enter Condition of Car</label>
            <input id='condition' name='condition' class='form-control' type='text'>
        </div>
        <div class='form-group'>
            <label for='picture'>Enter URL of Car Photo</label>
            <input id='picture' name='picture' class='form-control' type='text'>
        </div>
        <button type='submit' class='btn'>Go!</button>
    </form>
</body>
</html>
